/* Site nav */

.header {
  display: flex;
  align-items: center;
}

.header__border {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--bcg-color-gray);
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--basic-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;

  position: relative;
  transition: color 250ms var(--timing-function);

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);

    transform: scaleX(0);
    transition: transform 250ms var(--timing-function);
    border-radius: 2px;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav .link.current {
  color: var(--accent-color);

  &::after {
    content: "";
    transform: scaleX(1);
  }
}

/* Auth-nav */

.auth-nav.list {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.auth-nav .link {
  color: var(--second-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}
